@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
html {
 background-color: rgb(196, 252, 234);
 font-family: 'Raleway', Helvetica, sans-serif;
 font-size: 20px;
 text-align: center;
 min-width:183px;
}
form {
 background-color: white;
 border: solid  white 3px;
 border-radius: 5px;
 width: 60%;
 margin: 0 auto;
}
.row {
 width: 60%;
 height: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-size: 25px;
 margin: 15px auto;
}
.left-row {
height: 100%;
 width: 50%;
 order:1;
 text-align: right;
}
.right-row {
 margin: 0 auto;
 width: 50%;
 height: 100%;
 order: 2;
 text-align: left;
 padding-left: 20px;

}
#name-label {
 display: block;
 width: 100%;
 height: 100%;
}
#name, #email, #number {
 width: 90%;
 line-height: 3em;
}
.dropdown1 {
height:40px;
 width: 30%;
}

/* phone */

@media ( max-width: 520px) {
  form {
   width: 80%;
   margin: 0 auto;
  }
  .row {
   width: 100%;
   height: 100%;
   font-size: 18px;
   margin-left: 3%;
   margin-right: auto;
   text-align: center;
   flex-wrap: wrap;
  }
  .left-row {
   height: 100%;
   width: 100%;
   order:1;
  text-align: left;
  }
  .right-row {
   padding-left: 0px;
   width: 100%;
   height: 100%;
   order: 2;
  }
textarea {
  max-width: 90%;
}
}

/*  tablet*/

@media ( min-width: 521px) and (max-width:768px) {
  form {
   width: 80%;
   margin: 0 auto;
  }
  .row {
    width: 100%;
   font-size: 18px;
   margin-left: 3%;
   margin-right: auto;
   text-align: center;
  }
  .left-row {
   width: 40%;
   height: 100%;
   text-align: right;
  }
  .right-row {
   width: 100%;
   height: 100%;

  }
}
